body{
        /* font-family: Arial, Halvetica, sans-serif;
        font-size: 15px;
        line-height: 1.5; */
        font: 15px/1.5 Arial, Helvetica, sans-serif;
        padding:0;
        margin: 0;
        background-color: #f4f4f4;
        /* padding-top: 60px;
        padding-bottom: 40px; */
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
        overflow: hidden;
    }
    header
    {
      background: #35424a;
      color: #ffffff;
      padding-top: 30px;
      min-height: 70px;
      border-bottom: #e8491d;

    }
    header a{
      color:#ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
    }
     ul
    {
      margin: 0;
      padding: 0;
    }
    .button_1{
      height: 38px;
      background: #e8491d;
      border:0;
      padding-left: 20px;
      padding-right: 20px;
      color: #ffffff;
    }
    .dark
    {
      padding: 15px;
      background: #35424a;
      color: #ffffff;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    header li{
      float: left;
      display: inline;
      padding: 0 20px 0 20px;
    }
    header #branding{
      float: left;
    }
    header #branding h1
    {
      margin: 0;
    }
    header nav
    {
      float: right;
      margin-top: 10px;
    }
    header .highlight, header .current a{
      color:#e8491d;
      font-weight: bold;
    }
    header a:hover{
      color:#cccccc;
      font-weight: bold;
    }
    #showcase{
        min-height: 400px;

      background:url('../img/showcase.png') no-repeat;
      text-align: center;
      color: #ffffff;
      /* background-size: px 1000px; */
    }
    #showcase h1{
      margin-top:100px;
      font-size: 55px;
      margin-bottom: 10px;
    }
    #newsletter {
      padding: 15px;
      color: #ffffff;
      background: #35424a;
    }
    #newsletter h1{
      float: left;
    }
    #newsletter form {
      float: right;
      margin-top: 15px;

    }
    #newsletter input[type="email"]
    {
      padding: 4px;
      height: 25px;
      width: 250px;
    }
    #boxes
    {
      margin-top: 20px;
    }
    #boxes .box{
      float: left;
      text-align: center;
      width: 30%;
      padding: 10px;
    }
    .box img
    {
      height: 100px;
      width: 150px;
    }
    aside#sidebar
    {
      float: right;
      width: 30%;
      margin-top: 10px;
    }
    aside#sidebar .quote input, aside#sidebar .quote textarea{
      width: 90%;
      padding: 10px%;
    }
    article#main-col{
      float: left;
      width: 65%;
    }
    #notification {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-decoration: blink;
	background-repeat: no-repeat;
	text-align: center;
	float: left;
	height: 60px;
	width: 360px;
	padding-top: 15px;
}
.log-in-box input{
  /* width: 100%; */
  margin-bottom: 20px;
}
.log-in-box input[type="text"], input[type="number"],input[type="email"], input[type="password"]
{
 border: none;
 outline: none;
 height: 40px;
 border-bottom: 1px solid #fff;
 background: transparent;
 color: #fff;
 font-size: 16px;
}
.log-in-box input[type="radio"]
{
 width: 33.333%;

}
.log-in-box input[type="checkbox"]
{
 width: 60%;
}

.log-in-box input[type="submit"]
{
  border: none;
  outline:none;
  height: 40px;
  font-size:18px;
  border-radius: 20px;
  color: #fff;
  background: #00001a;
}
.log-in-box1 input{
  width: 100%;
  margin-bottom: 20px;
}
.log-in-box1 input[type="text"],input[type="password"]
{
 border: none;
 outline: none;
 height: 40px;
 border-bottom: 1px solid #fff;
 background: transparent;
 color: #fff;
 font-size: 16px;
}
.log-in-box1 input[type="submit"]
{
  border: none;
  outline:none;
  height: 40px;
  font-size:18px;
  border-radius: 20px;
  color: #fff;
  background: #00001a;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
    footer
    {

      /* position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding:20px;
      margin-top: 20px; */
      padding: 20px;
      margin-top: 20px;

      width: 100%;
      color: #ffffff;
      background-color: #35424a;
      /* bottom:0px;
      right:0%;
      left:0%;
      position: relative; */
      text-align: center;
      position: relative;
      bottom: 0;

    }


    /*corporate */


     /* .fixed-footer1{
        width: 100%;
        position: fixed !important;
        padding: 20px;
        margin-top: 20px;
        color: #ffffff;
        background-color: #35424a;
    }

    .fixed-footer1{
        bottom: 0;
    } */

  /*  nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    } */
